NEWSDATA_API_KEY=
DATABASE_URL=
SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_COGNITO_USER_POOL_ID=
AWS_COGNITO_CLIENT_ID=
ALPHA_VANTAGE_API_KEY=
ALLOW_LIVE_MARKET_FALLBACK=